{
  "openapi": "3.1.1",
  "info": {
    "title": "Notamify API V2",
    "version": "0.0.11"
  },
  "servers": [
    {
      "url": "https://api.notamify.com/api/v2"
    }
  ],
  "paths": {
    "/notams/recently-expired": {
      "get": {
        "summary": "Get recently expired NOTAMs",
        "description": "Returns inactive NOTAMs for the requested locations whose expired_at timestamp falls within the requested recent window.",
        "parameters": [
          {
            "description": "Lower bound for when the NOTAM was marked inactive. Defaults to 24 hours before current UTC time.",
            "required": false,
            "deprecated": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "title": "Expired After",
              "description": "Lower bound for when the NOTAM was marked inactive. Defaults to 24 hours before current UTC time."
            },
            "name": "expired_after",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "description": "Upper bound for when the NOTAM was marked inactive. Defaults to current UTC time.",
            "required": false,
            "deprecated": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "title": "Expired Before",
              "description": "Upper bound for when the NOTAM was marked inactive. Defaults to current UTC time."
            },
            "name": "expired_before",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "description": "Classifications to exclude: DOM, FDC, INTL, MIL. When empty, no classifications are excluded.",
            "required": false,
            "deprecated": false,
            "schema": {
              "anyOf": [
                {
                  "items": {
                    "type": "string",
                    "enum": [
                      "DOM",
                      "FDC",
                      "INTL",
                      "MIL"
                    ]
                  },
                  "type": "array",
                  "minItems": 1
                },
                {
                  "type": "null"
                }
              ],
              "title": "Excluded Classifications",
              "description": "Classifications to exclude: DOM, FDC, INTL, MIL. When empty, no classifications are excluded."
            },
            "name": "excluded_classifications",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "description": "Page number to retrieve. Defaults to 1.",
            "required": false,
            "deprecated": false,
            "schema": {
              "type": "integer",
              "title": "Page",
              "description": "Page number to retrieve. Defaults to 1.",
              "default": 1
            },
            "name": "page",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "description": "Number of NOTAMs per page. Defaults to 30.",
            "required": false,
            "deprecated": false,
            "schema": {
              "type": "integer",
              "maximum": 30.0,
              "minimum": 1.0,
              "title": "Per Page",
              "description": "Number of NOTAMs per page. Defaults to 30.",
              "default": 30
            },
            "name": "per_page",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "description": "List of 4-character ICAO airport codes or 3-character domestic airport codes. Maximum 5 locations.",
            "required": false,
            "deprecated": false,
            "schema": {
              "items": {
                "type": "string",
                "maxLength": 4,
                "minLength": 3,
                "pattern": "^[A-Za-z0-9]{3,4}$"
              },
              "type": "array",
              "maxItems": 5,
              "minItems": 1,
              "title": "Location",
              "description": "List of 4-character ICAO airport codes or 3-character domestic airport codes. Maximum 5 locations."
            },
            "name": "location",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecentlyExpiredNotamListResult"
                },
                "example": {
                  "notams": [],
                  "total_count": 0,
                  "page": 1,
                  "per_page": 30
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/notams/archive": {
      "get": {
        "parameters": [
          {
            "description": "Date to check NOTAM validity (YYYY-MM-DD). Cannot be in the future.",
            "required": true,
            "deprecated": false,
            "schema": {
              "type": "string",
              "format": "date",
              "title": "Valid At",
              "description": "Date to check NOTAM validity (YYYY-MM-DD). Cannot be in the future."
            },
            "name": "valid_at",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "description": "List of NOTAM IDs",
            "required": false,
            "deprecated": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "title": "Notam Ids",
              "description": "List of NOTAM IDs"
            },
            "name": "notam_ids",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "description": "Whether to always include EST times in the window, even if the notam already expired.",
            "required": false,
            "deprecated": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Always Include Est",
              "description": "Whether to always include EST times in the window, even if the notam already expired.",
              "default": true
            },
            "name": "always_include_est",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "description": "Page number to retrieve. Defaults to 1.",
            "required": false,
            "deprecated": false,
            "schema": {
              "type": "integer",
              "title": "Page",
              "description": "Page number to retrieve. Defaults to 1.",
              "default": 1
            },
            "name": "page",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "description": "Number of NOTAMs per page. Defaults to 30.",
            "required": false,
            "deprecated": false,
            "schema": {
              "type": "integer",
              "maximum": 30.0,
              "minimum": 1.0,
              "title": "Per Page",
              "description": "Number of NOTAMs per page. Defaults to 30.",
              "default": 30
            },
            "name": "per_page",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "description": "List of 4-character ICAO airport codes or 3-character domestic airport codes. Maximum 5 locations.",
            "required": false,
            "deprecated": false,
            "schema": {
              "items": {
                "type": "string",
                "maxLength": 4,
                "minLength": 3,
                "pattern": "^[A-Za-z0-9]{3,4}$"
              },
              "type": "array",
              "maxItems": 5,
              "minItems": 1,
              "title": "Location",
              "description": "List of 4-character ICAO airport codes or 3-character domestic airport codes. Maximum 5 locations."
            },
            "name": "location",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "description": "Filter by interpretation category(ies). Valid values: ALL, AERODROME, AIRSPACE, NAVIGATION, COMMUNICATION, OPERATIONS, OBSTACLES, ADMINISTRATIVE, WEATHER, SAFETY, OTHER. When 'ALL' is provided, no category filtering is applied. Note: Filtering happens after interpretation; total_count reflects pre-filter count and results may be fewer than per_page.",
            "required": false,
            "deprecated": false,
            "schema": {
              "anyOf": [
                {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Category",
              "description": "Filter by interpretation category(ies). Valid values: ALL, AERODROME, AIRSPACE, NAVIGATION, COMMUNICATION, OPERATIONS, OBSTACLES, ADMINISTRATIVE, WEATHER, SAFETY, OTHER. When 'ALL' is provided, no category filtering is applied. Note: Filtering happens after interpretation; total_count reflects pre-filter count and results may be fewer than per_page."
            },
            "name": "category",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "description": "Filter by interpretation subcategory(ies). Returns only NOTAMs with matching subcategories. Note: Filtering happens after interpretation; total_count reflects pre-filter count and results may be fewer than per_page.",
            "required": false,
            "deprecated": false,
            "schema": {
              "anyOf": [
                {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Subcategory",
              "description": "Filter by interpretation subcategory(ies). Returns only NOTAMs with matching subcategories. Note: Filtering happens after interpretation; total_count reflects pre-filter count and results may be fewer than per_page."
            },
            "name": "subcategory",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "description": "Filter by affected element effect and/or type. Format: 'effect:closed,type:runway' or 'closed runway' or 'closed' or 'runway'. Valid effects: CLOSED, RESTRICTED, HAZARD, UNSERVICEABLE, WORK_IN_PROGRESS, CAUTION. Valid types: AERODROME, RUNWAY, TAXIWAY, APPROACH, NAVAID, AIRSPACE, ROUTE, APRON, LIGHTING, SERVICE, PROCEDURE, OTHER. Note: Filtering happens after interpretation; total_count reflects pre-filter count and results may be fewer than per_page.",
            "required": false,
            "deprecated": false,
            "schema": {
              "anyOf": [
                {
                  "items": {
                    "$ref": "#/components/schemas/AffectedElementFilter"
                  },
                  "type": "array"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Affected Element",
              "description": "Filter by affected element effect and/or type. Format: 'effect:closed,type:runway' or 'closed runway' or 'closed' or 'runway'. Valid effects: CLOSED, RESTRICTED, HAZARD, UNSERVICEABLE, WORK_IN_PROGRESS, CAUTION. Valid types: AERODROME, RUNWAY, TAXIWAY, APPROACH, NAVAID, AIRSPACE, ROUTE, APRON, LIGHTING, SERVICE, PROCEDURE, OTHER. Note: Filtering happens after interpretation; total_count reflects pre-filter count and results may be fewer than per_page."
            },
            "name": "affected_element",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotamListResult"
                },
                "example": {
                  "notams": [
                    {
                      "ends_at": "2025-03-21T15:30:00Z",
                      "icao_code": "LIMA",
                      "icao_message": "C0184/25 NOTAMN\nQ) LIMM/QFAXX/IV/NBO/A /000/999/4505N00736E005\nA) LIMA B) 2503181200 C) 2503211530\nD) 18 1200-1530, 19-21 0800-1100 1200-1530\nE) TESTO ITALIANO:\nTUTTO IL TRAFFICO E&apos; SOGGETTO A RITARDI A CAUSAALL&apos; ATTIVITA&apos; DI\nLANCI PARACADUTISTICI MILITARI ANNUNCIATA DAL NOTAM W0738/25.\nTRAFFICO SERVIZIO MEDICO DI EMERGENZA CON ELICOTTERI (HEMS)\nNON INTERESSATO.\nRMK: TRAFFICO CONSENTITO PREVIO COORDINAMENTO CON LOCALE SERVIZIO\nAERONAUTICAL FLIGHT INFO UNIT (AFIU) LOCALE.\nENGLISH TEXT:\nALL TRAFFIC SUBJ DLA DUE TO MIL PJE ANNOUNCED BY NOTAM W0738/25.\nHELICOPTER EMERG MEDICAL SER (HEMS) NOT AFFECTED.\nRMK: TRAFFIC ALLOWED PRIOR COOR WITH LOCAL AERONAUTICAL FLIGHT INFO\nUNIT (AFIU).\nREF AIP AD 2 LIMA 1-1",
                      "qcode": "QFAXX",
                      "id": "263dbe90-b168-412f-aa9a-0555fa9cd736",
                      "interpretation": {
                        "affected_elements": [
                          {
                            "details": "Announced parachuting operations are causing delays to traffic.",
                            "effect": "RESTRICTED",
                            "identifier": "Notam W0738/25 parachuting area",
                            "type": "AIRSPACE"
                          },
                          {
                            "details": "All traffic subject to service delays due to parachuting military operations.",
                            "effect": "RESTRICTED",
                            "identifier": "AIR TRAFFIC CONTROL",
                            "type": "SERVICE"
                          }
                        ],
                        "category": "OTHER",
                        "description": "All traffic is subject to delays due to military parachute drop activities announced in NOTAM W0738/25. Emergency medical service traffic is still operational during scheduled times.",
                        "excerpt": "Traffic delays due to military parachute activities.",
                        "schedules": [
                          {
                            "description": "On March 18 from 12:00 to 15:30.",
                            "is_sunrise_sunset": false,
                            "rrule": "DTSTART:20250318T120000Z\nRRULE:FREQ=DAILY;UNTIL=20250318T153000Z;BYHOUR=12;BYMINUTE=0;BYSECOND=0",
                            "source": "18 1200-1530"
                          },
                          {
                            "description": "On March 19 to 21 from 08:00 to 11:00 and 12:00 to 15:30.",
                            "is_sunrise_sunset": false,
                            "rrule": "DTSTART:20250319T080000Z\nRRULE:FREQ=DAILY;COUNT=3;BYHOUR=8;BYMINUTE=0;BYSECOND=0",
                            "source": "19-21 0800-1100 1200-1530"
                          },
                          {
                            "description": "On March 19 to 21 from 12:00 to 15:30.",
                            "is_sunrise_sunset": false,
                            "rrule": "DTSTART:20250319T120000Z\nRRULE:FREQ=DAILY;COUNT=3;BYHOUR=12;BYMINUTE=0;BYSECOND=0",
                            "source": "19-21 0800-1100 1200-1530"
                          }
                        ],
                        "subcategory": "OTHER"
                      },
                      "is_estimated": false,
                      "is_permanent": false,
                      "issued_at": "2025-03-17T12:06:00Z",
                      "location": "LIMA",
                      "message": "TESTO ITALIANO:\nTUTTO IL TRAFFICO E' SOGGETTO A RITARDI A CAUSAALL' ATTIVITA' DI\nLANCI PARACADUTISTICI MILITARI ANNUNCIATA DAL NOTAM W0738/25.\nTRAFFICO SERVIZIO MEDICO DI EMERGENZA CON ...",
                      "notam_number": "C0184/25",
                      "starts_at": "2025-03-18T12:00:00Z"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Archive snapshot not found for the requested search. Credits were not deducted for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "example": {
                  "error": "Archive snapshot not found for the requested search. Credits were not deducted for this request."
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/notams": {
      "get": {
        "parameters": [
          {
            "description": "Classifications to exclude: DOM, FDC, INTL, MIL. When empty, no classifications are excluded.",
            "required": false,
            "deprecated": false,
            "schema": {
              "anyOf": [
                {
                  "items": {
                    "type": "string",
                    "enum": [
                      "DOM",
                      "FDC",
                      "INTL",
                      "MIL"
                    ]
                  },
                  "type": "array",
                  "minItems": 1
                },
                {
                  "type": "null"
                }
              ],
              "title": "Excluded Classifications",
              "description": "Classifications to exclude: DOM, FDC, INTL, MIL. When empty, no classifications are excluded."
            },
            "name": "excluded_classifications",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "description": "List of NOTAM IDs",
            "required": false,
            "deprecated": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "title": "Notam Ids",
              "description": "List of NOTAM IDs"
            },
            "name": "notam_ids",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "description": "Start date for the time period (YYYY-MM-DDTHH:MM:SSZ). When not provided, default to current UTC time.",
            "required": false,
            "deprecated": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Starts At",
              "description": "Start date for the time period (YYYY-MM-DDTHH:MM:SSZ). When not provided, default to current UTC time.",
              "examples": [
                "2024-01-01T00:00:00Z"
              ]
            },
            "name": "starts_at",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "description": "End date for the time period (YYYY-MM-DDTHH:MM:SSZ). When not provided, default to 365 days from starts_at.",
            "required": false,
            "deprecated": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Ends At",
              "description": "End date for the time period (YYYY-MM-DDTHH:MM:SSZ). When not provided, default to 365 days from starts_at.",
              "examples": [
                "2024-01-01T00:00:00Z"
              ]
            },
            "name": "ends_at",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "description": "Whether to always include EST times in the window, even if the notam already expired.",
            "required": false,
            "deprecated": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Always Include Est",
              "description": "Whether to always include EST times in the window, even if the notam already expired.",
              "default": true
            },
            "name": "always_include_est",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "description": "Page number to retrieve. Defaults to 1.",
            "required": false,
            "deprecated": false,
            "schema": {
              "type": "integer",
              "title": "Page",
              "description": "Page number to retrieve. Defaults to 1.",
              "default": 1
            },
            "name": "page",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "description": "Number of NOTAMs per page. Defaults to 30.",
            "required": false,
            "deprecated": false,
            "schema": {
              "type": "integer",
              "maximum": 30.0,
              "minimum": 1.0,
              "title": "Per Page",
              "description": "Number of NOTAMs per page. Defaults to 30.",
              "default": 30
            },
            "name": "per_page",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "description": "List of 4-character ICAO airport codes or 3-character domestic airport codes. Maximum 5 locations. Can be provided as location.",
            "required": false,
            "deprecated": false,
            "schema": {
              "items": {
                "type": "string",
                "maxLength": 4,
                "minLength": 3,
                "pattern": "^[A-Za-z0-9]{3,4}$"
              },
              "type": "array",
              "maxItems": 5,
              "minItems": 1,
              "title": "Location",
              "description": "List of 4-character ICAO airport codes or 3-character domestic airport codes. Maximum 5 locations. Can be provided as location.",
              "examples": [
                "KJFK",
                "KLAX",
                "KORD"
              ]
            },
            "name": "location",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "description": "Filter by Q-code(s) (e.g., QMRLC, QWULW). Returns only NOTAMs with matching Q-codes.",
            "required": false,
            "deprecated": false,
            "schema": {
              "anyOf": [
                {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Qcode",
              "description": "Filter by Q-code(s) (e.g., QMRLC, QWULW). Returns only NOTAMs with matching Q-codes."
            },
            "name": "qcode",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "description": "Filter by interpretation category(ies). Valid values: ALL, AERODROME, AIRSPACE, NAVIGATION, COMMUNICATION, OPERATIONS, OBSTACLES, ADMINISTRATIVE, WEATHER, SAFETY, OTHER. When 'ALL' is provided, no category filtering is applied. Note: Filtering happens after interpretation; total_count reflects pre-filter count and results may be fewer than per_page.",
            "required": false,
            "deprecated": false,
            "schema": {
              "anyOf": [
                {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Category",
              "description": "Filter by interpretation category(ies). Valid values: ALL, AERODROME, AIRSPACE, NAVIGATION, COMMUNICATION, OPERATIONS, OBSTACLES, ADMINISTRATIVE, WEATHER, SAFETY, OTHER. When 'ALL' is provided, no category filtering is applied. Note: Filtering happens after interpretation; total_count reflects pre-filter count and results may be fewer than per_page."
            },
            "name": "category",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "description": "Filter by interpretation subcategory(ies). Returns only NOTAMs with matching subcategories. Note: Filtering happens after interpretation; total_count reflects pre-filter count and results may be fewer than per_page.",
            "required": false,
            "deprecated": false,
            "schema": {
              "anyOf": [
                {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Subcategory",
              "description": "Filter by interpretation subcategory(ies). Returns only NOTAMs with matching subcategories. Note: Filtering happens after interpretation; total_count reflects pre-filter count and results may be fewer than per_page."
            },
            "name": "subcategory",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "description": "Filter by affected element effect and/or type. Format: 'effect:closed,type:runway' or 'closed runway' or 'closed' or 'runway'. Valid effects: CLOSED, RESTRICTED, HAZARD, UNSERVICEABLE, WORK_IN_PROGRESS, CAUTION. Valid types: AERODROME, RUNWAY, TAXIWAY, APPROACH, NAVAID, AIRSPACE, APRON, LIGHTING, SERVICE, PROCEDURE, OTHER. Note: Filtering happens after interpretation; total_count reflects pre-filter count and results may be fewer than per_page.",
            "required": false,
            "deprecated": false,
            "schema": {
              "anyOf": [
                {
                  "items": {
                    "$ref": "#/components/schemas/AffectedElementFilter"
                  },
                  "type": "array"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Affected Element",
              "description": "Filter by affected element effect and/or type. Format: 'effect:closed,type:runway' or 'closed runway' or 'closed' or 'runway'. Valid effects: CLOSED, RESTRICTED, HAZARD, UNSERVICEABLE, WORK_IN_PROGRESS, CAUTION. Valid types: AERODROME, RUNWAY, TAXIWAY, APPROACH, NAVAID, AIRSPACE, APRON, LIGHTING, SERVICE, PROCEDURE, OTHER. Note: Filtering happens after interpretation; total_count reflects pre-filter count and results may be fewer than per_page."
            },
            "name": "affected_element",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotamListResult"
                },
                "example": {
                  "notams": [
                    {
                      "ends_at": "2025-06-30T02:00:00Z",
                      "icao_code": "EPWA",
                      "icao_message": "A0681/25 NOTAMN\nQ) EPWW/QWOLW/IV/M  /AW/000/010/5213N02059E001\nA) EPWA B) 2504042000 C) 2506300400\nD) APR 04-06 11-13 18-20 25-27 2000-0400, MAY 02-04 09-11 16-18 \n23-25 30 2000-0400, MAY 31 2000-2359, JUN 01 0000-0400 2000-0400, \nJUN 06-08 13-15 20-22 27-29 2000-0400\nE) NAVIGATION WARNING.\nLASER AND REFLECTOR AT PSN: 521329N 0205928E - WARSZAWA.\nANGLE OF BEAM: 000-090 DEG.\nRANGE: 200M. \nCONTACT: +48 571 409 606.\nF) GND G) 1000FT AMSL",
                      "qcode": "QWOLW",
                      "id": "7e1b2056-301d-4723-a7e8-d0994fb7d6b6",
                      "interpretation": {
                        "affected_elements": [],
                        "category": "NAVIGATION",
                        "description": "A navigation warning is issued for a laser and reflector located at position 521329N 0205928E in Warszawa. The laser beam angle is from 000 to 090 degrees with a range of 200 meters. The warning is in effect during specified dates and times in April and May 2025.",
                        "excerpt": "Navigation warning for a laser and reflector in Warszawa with specific operational times.",
                        "map_elements": [
                          {
                            "area_number": null,
                            "coordinates": [
                              {
                                "lat": 52.224722,
                                "lon": 20.991111,
                                "radius_nm": 0.11,
                                "raw_radius": "200M",
                                "raw_string": "521329N 0205928E"
                              }
                            ],
                            "description": "Laser and reflector at position with a range of 200 meters.",
                            "element_type": "circle",
                            "geojson": {
                              "geometry": {
                                "coordinates": [
                                  [
                                    [
                                      20.991111,
                                      52.2265540978663
                                    ],
                                    [
                                      20.991404155310587,
                                      52.22654527581431
                                    ],
                                    [
                                      20.991694487375277,
                                      52.226518894619524
                                    ],
                                    [
                                      20.991979200137575,
                                      52.226475208347274
                                    ],
                                    [
                                      20.992255551657944,
                                      52.22641463772023
                                    ],
                                    [
                                      20.99252088052017,
                                      52.226337766066656
                                    ],
                                    [
                                      20.99277263146227,
                                      52.22624533370259
                                    ],
                                    [
                                      20.993008379985046,
                                      52.226138230802235
                                    ],
                                    [
                                      20.993225855701354,
                                      52.22601748882506
                                    ],
                                    [
                                      20.99342296420116,
                                      52.22588427058231
                                    ],
                                    [
                                      20.99359780722186,
                                      52.2257398590385
                                    ],
                                    [
                                      20.993748700929586,
                                      52.22558564495572
                                    ],
                                    [
                                      20.993874192135447,
                                      52.22542311349991
                                    ],
                                    [
                                      20.99397307229053,
                                      52.22525382993782
                                    ],
                                    [
                                      20.994044389124884,
                                      52.2250794245627
                                    ],
                                    [
                                      20.994087455818416,
                                      52.22490157699366
                                    ],
                                    [
                                      20.994101857615316,
                                      52.224722
                                    ],
                                    [
                                      20.994087455818416,
                                      52.22454242300634
                                    ],
                                    [
                                      20.994044389124884,
                                      52.2243645754373
                                    ],
                                    [
                                      20.99397307229053,
                                      52.22419017006218
                                    ],
                                    [
                                      20.993874192135447,
                                      52.22402088650009
                                    ],
                                    [
                                      20.993748700929586,
                                      52.22385835504428
                                    ],
                                    [
                                      20.99359780722186,
                                      52.2237041409615
                                    ],
                                    [
                                      20.99342296420116,
                                      52.22355972941769
                                    ],
                                    [
                                      20.993225855701354,
                                      52.22342651117494
                                    ],
                                    [
                                      20.993008379985046,
                                      52.223305769197765
                                    ],
                                    [
                                      20.99277263146227,
                                      52.22319866629741
                                    ],
                                    [
                                      20.99252088052017,
                                      52.22310623393334
                                    ],
                                    [
                                      20.992255551657944,
                                      52.22302936227977
                                    ],
                                    [
                                      20.991979200137575,
                                      52.222968791652725
                                    ],
                                    [
                                      20.991694487375277,
                                      52.222925105380476
                                    ],
                                    [
                                      20.991404155310587,
                                      52.22289872418569
                                    ],
                                    [
                                      20.991111,
                                      52.2228899021337
                                    ],
                                    [
                                      20.990817844689413,
                                      52.22289872418569
                                    ],
                                    [
                                      20.990527512624723,
                                      52.222925105380476
                                    ],
                                    [
                                      20.990242799862425,
                                      52.222968791652725
                                    ],
                                    [
                                      20.989966448342056,
                                      52.22302936227977
                                    ],
                                    [
                                      20.98970111947983,
                                      52.22310623393334
                                    ],
                                    [
                                      20.98944936853773,
                                      52.22319866629741
                                    ],
                                    [
                                      20.989213620014954,
                                      52.223305769197765
                                    ],
                                    [
                                      20.988996144298646,
                                      52.22342651117494
                                    ],
                                    [
                                      20.98879903579884,
                                      52.22355972941769
                                    ],
                                    [
                                      20.98862419277814,
                                      52.2237041409615
                                    ],
                                    [
                                      20.988473299070414,
                                      52.22385835504428
                                    ],
                                    [
                                      20.988347807864553,
                                      52.22402088650009
                                    ],
                                    [
                                      20.98824892770947,
                                      52.22419017006218
                                    ],
                                    [
                                      20.988177610875116,
                                      52.2243645754373
                                    ],
                                    [
                                      20.988134544181584,
                                      52.22454242300634
                                    ],
                                    [
                                      20.988120142384684,
                                      52.224722
                                    ],
                                    [
                                      20.988134544181584,
                                      52.22490157699366
                                    ],
                                    [
                                      20.988177610875116,
                                      52.2250794245627
                                    ],
                                    [
                                      20.98824892770947,
                                      52.22525382993782
                                    ],
                                    [
                                      20.988347807864553,
                                      52.22542311349991
                                    ],
                                    [
                                      20.988473299070414,
                                      52.22558564495572
                                    ],
                                    [
                                      20.98862419277814,
                                      52.2257398590385
                                    ],
                                    [
                                      20.98879903579884,
                                      52.22588427058231
                                    ],
                                    [
                                      20.988996144298646,
                                      52.22601748882506
                                    ],
                                    [
                                      20.989213620014954,
                                      52.226138230802235
                                    ],
                                    [
                                      20.98944936853773,
                                      52.22624533370259
                                    ],
                                    [
                                      20.98970111947983,
                                      52.226337766066656
                                    ],
                                    [
                                      20.989966448342056,
                                      52.22641463772023
                                    ],
                                    [
                                      20.990242799862425,
                                      52.226475208347274
                                    ],
                                    [
                                      20.990527512624723,
                                      52.226518894619524
                                    ],
                                    [
                                      20.990817844689413,
                                      52.22654527581431
                                    ],
                                    [
                                      20.991111,
                                      52.2265540978663
                                    ]
                                  ]
                                ],
                                "type": "Polygon"
                              },
                              "properties": {
                                "element_type": "circle",
                                "radius_nm": 0.11
                              },
                              "type": "Feature"
                            }
                          }
                        ],
                        "schedule_description": "On April 4-6, 11-13, 18-20, 25-27; May 2-4, 9-11, 16-18, 23-25, 30; May 31; June 1; June 6-8, 13-15, 20-22, 27-29 from 20:00 to 04:00.",
                        "schedules": [
                          {
                            "description": "On April 4-6, 11-13, 18-20, 25-27 from 20:00 to 04:00.",
                            "duration_hrs": 8,
                            "is_sunrise_sunset": false,
                            "rrule": "DTSTART:20250404T200000Z\nRRULE:FREQ=DAILY;UNTIL=20250627T040000Z;BYDAY=TH,FR,SA,SU,MO,TU,WE;COUNT=15",
                            "source": "APR 04-06 11-13 18-20 25-27 2000-0400"
                          },
                          {
                            "description": "On May 2-4, 9-11, 16-18, 23-25, 30 from 20:00 to 04:00.",
                            "duration_hrs": 8,
                            "is_sunrise_sunset": false,
                            "rrule": "DTSTART:20250502T200000Z\nRRULE:FREQ=DAILY;UNTIL=20250530T040000Z;BYDAY=TH,FR,SA,SU,MO,TU,WE;COUNT=12",
                            "source": "MAY 02-04 09-11 16-18 23-25 30 2000-0400"
                          },
                          {
                            "description": "On May 31 from 20:00 to 23:59.",
                            "duration_hrs": 4,
                            "is_sunrise_sunset": false,
                            "rrule": "DTSTART:20250531T200000Z\nRRULE:FREQ=DAILY;COUNT=1",
                            "source": "MAY 31 2000-2359"
                          },
                          {
                            "description": "On June 1 from 00:00 to 04:00 and 20:00 to 04:00.",
                            "duration_hrs": 4,
                            "is_sunrise_sunset": false,
                            "rrule": "DTSTART:20250601T000000Z\nRRULE:FREQ=DAILY;COUNT=1",
                            "source": "JUN 01 0000-0400 2000-0400"
                          },
                          {
                            "description": "On June 6-8, 13-15, 20-22, 27-29 from 20:00 to 04:00.",
                            "duration_hrs": 8,
                            "is_sunrise_sunset": false,
                            "rrule": "DTSTART:20250606T200000Z\nRRULE:FREQ=DAILY;UNTIL=20250629T040000Z;BYDAY=TH,FR,SA,SU,MO,TU,WE;COUNT=12",
                            "source": "JUN 06-08 13-15 20-22 27-29 2000-0400"
                          }
                        ],
                        "subcategory": "NAVIGATION_AID_STATUS"
                      },
                      "is_estimated": false,
                      "is_permanent": false,
                      "issued_at": "2025-03-19T12:37:00Z",
                      "location": "EPWA",
                      "message": "NAVIGATION WARNING.\nLASER AND REFLECTOR AT PSN: 521329N 0205928E - WARSZAWA.\nANGLE OF BEAM: 000-090 DEG.\nRANGE: 200M. \nCONTACT: +48 571 409 606.\nF) GND G) 1000FT AMSL",
                      "notam_number": "A0681/25",
                      "starts_at": "2025-04-04T18:00:00Z"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/notams/nearby": {
      "get": {
        "parameters": [
          {
            "description": "Latitude in decimal degrees.",
            "required": true,
            "deprecated": false,
            "schema": {
              "type": "number",
              "maximum": 90.0,
              "minimum": -90.0,
              "title": "Lat",
              "description": "Latitude in decimal degrees."
            },
            "name": "lat",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "description": "Longitude in decimal degrees.",
            "required": true,
            "deprecated": false,
            "schema": {
              "type": "number",
              "maximum": 180.0,
              "minimum": -180.0,
              "title": "Lon",
              "description": "Longitude in decimal degrees."
            },
            "name": "lon",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "description": "Search radius in nautical miles. Defaults to 1.",
            "required": false,
            "deprecated": false,
            "schema": {
              "type": "number",
              "maximum": 25.0,
              "minimum": 0.1,
              "title": "Radius Nm",
              "description": "Search radius in nautical miles. Defaults to 1.",
              "default": 1.0
            },
            "name": "radius_nm",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "description": "Page number to retrieve. Defaults to 1.",
            "required": false,
            "deprecated": false,
            "schema": {
              "type": "integer",
              "title": "Page",
              "description": "Page number to retrieve. Defaults to 1.",
              "default": 1
            },
            "name": "page",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "description": "Number of NOTAMs per page. Defaults to 30.",
            "required": false,
            "deprecated": false,
            "schema": {
              "type": "integer",
              "maximum": 30.0,
              "minimum": 1.0,
              "title": "Per Page",
              "description": "Number of NOTAMs per page. Defaults to 30.",
              "default": 30
            },
            "name": "per_page",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "description": "Classifications to exclude: DOM, FDC, INTL, MIL. When empty, no classifications are excluded.",
            "required": false,
            "deprecated": false,
            "schema": {
              "anyOf": [
                {
                  "items": {
                    "type": "string",
                    "enum": [
                      "DOM",
                      "FDC",
                      "INTL",
                      "MIL"
                    ]
                  },
                  "type": "array",
                  "minItems": 1
                },
                {
                  "type": "null"
                }
              ],
              "title": "Excluded Classifications",
              "description": "Classifications to exclude: DOM, FDC, INTL, MIL. When empty, no classifications are excluded."
            },
            "name": "excluded_classifications",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "description": "Filter by Q-code(s) (e.g., QMRLC, QWULW). Returns only NOTAMs with matching Q-codes.",
            "required": false,
            "deprecated": false,
            "schema": {
              "anyOf": [
                {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Qcode",
              "description": "Filter by Q-code(s) (e.g., QMRLC, QWULW). Returns only NOTAMs with matching Q-codes."
            },
            "name": "qcode",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "description": "List of NOTAM IDs",
            "required": false,
            "deprecated": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "title": "Notam Ids",
              "description": "List of NOTAM IDs"
            },
            "name": "notam_ids",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "description": "Start date for the time period (YYYY-MM-DDTHH:MM:SSZ). When not provided, default to current UTC time.",
            "required": false,
            "deprecated": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Starts At",
              "description": "Start date for the time period (YYYY-MM-DDTHH:MM:SSZ). When not provided, default to current UTC time.",
              "examples": [
                "2024-01-01T00:00:00Z"
              ]
            },
            "name": "starts_at",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "description": "End date for the time period (YYYY-MM-DDTHH:MM:SSZ). When not provided, default to 365 days from starts_at.",
            "required": false,
            "deprecated": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Ends At",
              "description": "End date for the time period (YYYY-MM-DDTHH:MM:SSZ). When not provided, default to 365 days from starts_at.",
              "examples": [
                "2024-01-01T00:00:00Z"
              ]
            },
            "name": "ends_at",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "description": "Whether to always include EST times in the window, even if the notam already expired.",
            "required": false,
            "deprecated": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Always Include Est",
              "description": "Whether to always include EST times in the window, even if the notam already expired.",
              "default": true
            },
            "name": "always_include_est",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "description": "Filter by interpretation category(ies). Valid values: ALL, AERODROME, AIRSPACE, NAVIGATION, COMMUNICATION, OPERATIONS, OBSTACLES, ADMINISTRATIVE, WEATHER, SAFETY, OTHER. When 'ALL' is provided, no category filtering is applied. Note: Filtering happens after interpretation; total_count reflects pre-filter count and results may be fewer than per_page.",
            "required": false,
            "deprecated": false,
            "schema": {
              "anyOf": [
                {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Category",
              "description": "Filter by interpretation category(ies). Valid values: ALL, AERODROME, AIRSPACE, NAVIGATION, COMMUNICATION, OPERATIONS, OBSTACLES, ADMINISTRATIVE, WEATHER, SAFETY, OTHER. When 'ALL' is provided, no category filtering is applied. Note: Filtering happens after interpretation; total_count reflects pre-filter count and results may be fewer than per_page."
            },
            "name": "category",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "description": "Filter by interpretation subcategory(ies). Returns only NOTAMs with matching subcategories. Note: Filtering happens after interpretation; total_count reflects pre-filter count and results may be fewer than per_page.",
            "required": false,
            "deprecated": false,
            "schema": {
              "anyOf": [
                {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Subcategory",
              "description": "Filter by interpretation subcategory(ies). Returns only NOTAMs with matching subcategories. Note: Filtering happens after interpretation; total_count reflects pre-filter count and results may be fewer than per_page."
            },
            "name": "subcategory",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "description": "Filter by affected element effect and/or type. Format: 'effect:closed,type:runway' or 'closed runway' or 'closed' or 'runway'. Valid effects: CLOSED, RESTRICTED, HAZARD, UNSERVICEABLE, WORK_IN_PROGRESS, CAUTION. Valid types: AERODROME, RUNWAY, TAXIWAY, APPROACH, NAVAID, AIRSPACE, APRON, LIGHTING, SERVICE, PROCEDURE, OTHER. Note: Filtering happens after interpretation; total_count reflects pre-filter count and results may be fewer than per_page.",
            "required": false,
            "deprecated": false,
            "schema": {
              "anyOf": [
                {
                  "items": {
                    "$ref": "#/components/schemas/AffectedElementFilter"
                  },
                  "type": "array"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Affected Element",
              "description": "Filter by affected element effect and/or type. Format: 'effect:closed,type:runway' or 'closed runway' or 'closed' or 'runway'. Valid effects: CLOSED, RESTRICTED, HAZARD, UNSERVICEABLE, WORK_IN_PROGRESS, CAUTION. Valid types: AERODROME, RUNWAY, TAXIWAY, APPROACH, NAVAID, AIRSPACE, APRON, LIGHTING, SERVICE, PROCEDURE, OTHER. Note: Filtering happens after interpretation; total_count reflects pre-filter count and results may be fewer than per_page."
            },
            "name": "affected_element",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotamListResult"
                },
                "example": {
                  "notams": [
                    {
                      "ends_at": "2025-06-30T02:00:00Z",
                      "icao_code": "EPWA",
                      "icao_message": "A0681/25 NOTAMN\nQ) EPWW/QWOLW/IV/M  /AW/000/010/5213N02059E001\nA) EPWA B) 2504042000 C) 2506300400\nD) APR 04-06 11-13 18-20 25-27 2000-0400, MAY 02-04 09-11 16-18 \n23-25 30 2000-0400, MAY 31 2000-2359, JUN 01 0000-0400 2000-0400, \nJUN 06-08 13-15 20-22 27-29 2000-0400\nE) NAVIGATION WARNING.\nLASER AND REFLECTOR AT PSN: 521329N 0205928E - WARSZAWA.\nANGLE OF BEAM: 000-090 DEG.\nRANGE: 200M. \nCONTACT: +48 571 409 606.\nF) GND G) 1000FT AMSL",
                      "qcode": "QWOLW",
                      "id": "7e1b2056-301d-4723-a7e8-d0994fb7d6b6",
                      "interpretation": {
                        "affected_elements": [],
                        "category": "NAVIGATION",
                        "description": "A navigation warning is issued for a laser and reflector located at position 521329N 0205928E in Warszawa. The laser beam angle is from 000 to 090 degrees with a range of 200 meters. The warning is in effect during specified dates and times in April and May 2025.",
                        "excerpt": "Navigation warning for a laser and reflector in Warszawa with specific operational times.",
                        "map_elements": [
                          {
                            "area_number": null,
                            "coordinates": [
                              {
                                "lat": 52.224722,
                                "lon": 20.991111,
                                "radius_nm": 0.11,
                                "raw_radius": "200M",
                                "raw_string": "521329N 0205928E"
                              }
                            ],
                            "description": "Laser and reflector at position with a range of 200 meters.",
                            "element_type": "circle",
                            "geojson": {
                              "geometry": {
                                "coordinates": [
                                  [
                                    [
                                      20.991111,
                                      52.2265540978663
                                    ],
                                    [
                                      20.991404155310587,
                                      52.22654527581431
                                    ],
                                    [
                                      20.991694487375277,
                                      52.226518894619524
                                    ],
                                    [
                                      20.991979200137575,
                                      52.226475208347274
                                    ],
                                    [
                                      20.992255551657944,
                                      52.22641463772023
                                    ],
                                    [
                                      20.99252088052017,
                                      52.226337766066656
                                    ],
                                    [
                                      20.99277263146227,
                                      52.22624533370259
                                    ],
                                    [
                                      20.993008379985046,
                                      52.226138230802235
                                    ],
                                    [
                                      20.993225855701354,
                                      52.22601748882506
                                    ],
                                    [
                                      20.99342296420116,
                                      52.22588427058231
                                    ],
                                    [
                                      20.99359780722186,
                                      52.2257398590385
                                    ],
                                    [
                                      20.993748700929586,
                                      52.22558564495572
                                    ],
                                    [
                                      20.993874192135447,
                                      52.22542311349991
                                    ],
                                    [
                                      20.99397307229053,
                                      52.22525382993782
                                    ],
                                    [
                                      20.994044389124884,
                                      52.2250794245627
                                    ],
                                    [
                                      20.994087455818416,
                                      52.22490157699366
                                    ],
                                    [
                                      20.994101857615316,
                                      52.224722
                                    ],
                                    [
                                      20.994087455818416,
                                      52.22454242300634
                                    ],
                                    [
                                      20.994044389124884,
                                      52.2243645754373
                                    ],
                                    [
                                      20.99397307229053,
                                      52.22419017006218
                                    ],
                                    [
                                      20.993874192135447,
                                      52.22402088650009
                                    ],
                                    [
                                      20.993748700929586,
                                      52.22385835504428
                                    ],
                                    [
                                      20.99359780722186,
                                      52.2237041409615
                                    ],
                                    [
                                      20.99342296420116,
                                      52.22355972941769
                                    ],
                                    [
                                      20.993225855701354,
                                      52.22342651117494
                                    ],
                                    [
                                      20.993008379985046,
                                      52.223305769197765
                                    ],
                                    [
                                      20.99277263146227,
                                      52.22319866629741
                                    ],
                                    [
                                      20.99252088052017,
                                      52.22310623393334
                                    ],
                                    [
                                      20.992255551657944,
                                      52.22302936227977
                                    ],
                                    [
                                      20.991979200137575,
                                      52.222968791652725
                                    ],
                                    [
                                      20.991694487375277,
                                      52.222925105380476
                                    ],
                                    [
                                      20.991404155310587,
                                      52.22289872418569
                                    ],
                                    [
                                      20.991111,
                                      52.2228899021337
                                    ],
                                    [
                                      20.990817844689413,
                                      52.22289872418569
                                    ],
                                    [
                                      20.990527512624723,
                                      52.222925105380476
                                    ],
                                    [
                                      20.990242799862425,
                                      52.222968791652725
                                    ],
                                    [
                                      20.989966448342056,
                                      52.22302936227977
                                    ],
                                    [
                                      20.98970111947983,
                                      52.22310623393334
                                    ],
                                    [
                                      20.98944936853773,
                                      52.22319866629741
                                    ],
                                    [
                                      20.989213620014954,
                                      52.223305769197765
                                    ],
                                    [
                                      20.988996144298646,
                                      52.22342651117494
                                    ],
                                    [
                                      20.98879903579884,
                                      52.22355972941769
                                    ],
                                    [
                                      20.98862419277814,
                                      52.2237041409615
                                    ],
                                    [
                                      20.988473299070414,
                                      52.22385835504428
                                    ],
                                    [
                                      20.988347807864553,
                                      52.22402088650009
                                    ],
                                    [
                                      20.98824892770947,
                                      52.22419017006218
                                    ],
                                    [
                                      20.988177610875116,
                                      52.2243645754373
                                    ],
                                    [
                                      20.988134544181584,
                                      52.22454242300634
                                    ],
                                    [
                                      20.988120142384684,
                                      52.224722
                                    ],
                                    [
                                      20.988134544181584,
                                      52.22490157699366
                                    ],
                                    [
                                      20.988177610875116,
                                      52.2250794245627
                                    ],
                                    [
                                      20.98824892770947,
                                      52.22525382993782
                                    ],
                                    [
                                      20.988347807864553,
                                      52.22542311349991
                                    ],
                                    [
                                      20.988473299070414,
                                      52.22558564495572
                                    ],
                                    [
                                      20.98862419277814,
                                      52.2257398590385
                                    ],
                                    [
                                      20.98879903579884,
                                      52.22588427058231
                                    ],
                                    [
                                      20.988996144298646,
                                      52.22601748882506
                                    ],
                                    [
                                      20.989213620014954,
                                      52.226138230802235
                                    ],
                                    [
                                      20.98944936853773,
                                      52.22624533370259
                                    ],
                                    [
                                      20.98970111947983,
                                      52.226337766066656
                                    ],
                                    [
                                      20.989966448342056,
                                      52.22641463772023
                                    ],
                                    [
                                      20.990242799862425,
                                      52.226475208347274
                                    ],
                                    [
                                      20.990527512624723,
                                      52.226518894619524
                                    ],
                                    [
                                      20.990817844689413,
                                      52.22654527581431
                                    ],
                                    [
                                      20.991111,
                                      52.2265540978663
                                    ]
                                  ]
                                ],
                                "type": "Polygon"
                              },
                              "properties": {
                                "element_type": "circle",
                                "radius_nm": 0.11
                              },
                              "type": "Feature"
                            }
                          }
                        ],
                        "schedule_description": "On April 4-6, 11-13, 18-20, 25-27; May 2-4, 9-11, 16-18, 23-25, 30; May 31; June 1; June 6-8, 13-15, 20-22, 27-29 from 20:00 to 04:00.",
                        "schedules": [
                          {
                            "description": "On April 4-6, 11-13, 18-20, 25-27 from 20:00 to 04:00.",
                            "duration_hrs": 8,
                            "is_sunrise_sunset": false,
                            "rrule": "DTSTART:20250404T200000Z\nRRULE:FREQ=DAILY;UNTIL=20250627T040000Z;BYDAY=TH,FR,SA,SU,MO,TU,WE;COUNT=15",
                            "source": "APR 04-06 11-13 18-20 25-27 2000-0400"
                          },
                          {
                            "description": "On May 2-4, 9-11, 16-18, 23-25, 30 from 20:00 to 04:00.",
                            "duration_hrs": 8,
                            "is_sunrise_sunset": false,
                            "rrule": "DTSTART:20250502T200000Z\nRRULE:FREQ=DAILY;UNTIL=20250530T040000Z;BYDAY=TH,FR,SA,SU,MO,TU,WE;COUNT=12",
                            "source": "MAY 02-04 09-11 16-18 23-25 30 2000-0400"
                          },
                          {
                            "description": "On May 31 from 20:00 to 23:59.",
                            "duration_hrs": 4,
                            "is_sunrise_sunset": false,
                            "rrule": "DTSTART:20250531T200000Z\nRRULE:FREQ=DAILY;COUNT=1",
                            "source": "MAY 31 2000-2359"
                          },
                          {
                            "description": "On June 1 from 00:00 to 04:00 and 20:00 to 04:00.",
                            "duration_hrs": 4,
                            "is_sunrise_sunset": false,
                            "rrule": "DTSTART:20250601T000000Z\nRRULE:FREQ=DAILY;COUNT=1",
                            "source": "JUN 01 0000-0400 2000-0400"
                          },
                          {
                            "description": "On June 6-8, 13-15, 20-22, 27-29 from 20:00 to 04:00.",
                            "duration_hrs": 8,
                            "is_sunrise_sunset": false,
                            "rrule": "DTSTART:20250606T200000Z\nRRULE:FREQ=DAILY;UNTIL=20250629T040000Z;BYDAY=TH,FR,SA,SU,MO,TU,WE;COUNT=12",
                            "source": "JUN 06-08 13-15 20-22 27-29 2000-0400"
                          }
                        ],
                        "subcategory": "NAVIGATION_AID_STATUS"
                      },
                      "is_estimated": false,
                      "is_permanent": false,
                      "issued_at": "2025-03-19T12:37:00Z",
                      "location": "EPWA",
                      "message": "NAVIGATION WARNING.\nLASER AND REFLECTOR AT PSN: 521329N 0205928E - WARSZAWA.\nANGLE OF BEAM: 000-090 DEG.\nRANGE: 200M. \nCONTACT: +48 571 409 606.\nF) GND G) 1000FT AMSL",
                      "notam_number": "A0681/25",
                      "starts_at": "2025-04-04T18:00:00Z"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/notams/prioritisation": {
      "post": {
        "summary": "Prioritise a NOTAM with AI",
        "description": "Evaluate a single NOTAM against a flight profile. Provide the same flight context as flight briefings together with the NOTAM identifier to receive a model-assigned priority, explanation, and key considerations.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotamPrioritisationRequest"
              },
              "example": {
                "notam_id": "263dbe90-b168-412f-aa9a-0555fa9cd736",
                "locations": [
                  {
                    "location": "EPWA",
                    "type": "origin",
                    "starts_at": "2025-08-11T10:00:00Z",
                    "ends_at": "2025-08-11T16:00:00Z"
                  },
                  {
                    "location": "EGLL",
                    "type": "destination",
                    "starts_at": "2025-08-11T11:30:00Z",
                    "ends_at": "2025-08-11T18:00:00Z"
                  },
                  {
                    "location": "EPRZ",
                    "type": "alternate",
                    "starts_at": "2025-08-11T10:00:00Z",
                    "ends_at": "2025-08-11T20:00:00Z"
                  }
                ],
                "origin_runway": "RWY11",
                "destination_runway": "RWY27L",
                "destination_procedure": "ILS27L",
                "aircraft_type": "B738"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotamPrioritisationResult"
                },
                "example": {
                  "notams": [
                    {
                      "notam": {
                        "id": "7e1b2056-301d-4723-a7e8-d0994fb7d6b6",
                        "notam_number": "A0681/25",
                        "location": "EPWA",
                        "icao_code": "EPWA",
                        "starts_at": "2025-04-04T18:00:00Z",
                        "ends_at": "2025-06-30T02:00:00Z",
                        "issued_at": "2025-03-19T12:37:00Z",
                        "is_estimated": false,
                        "is_permanent": false,
                        "message": "RWY 11 CLSD DUE WIP 2000-0400.",
                        "icao_message": "A0681/25 NOTAMN...",
                        "qcode": "QMRLC",
                        "interpretation": {
                          "description": "Runway 11 is closed nightly for work in progress between 20:00 and 04:00.",
                          "excerpt": "Runway 11 closed nightly 20:00-04:00.",
                          "category": "AERODROME",
                          "subcategory": "RUNWAY_OPERATIONS",
                          "affected_elements": [
                            {
                              "type": "RUNWAY",
                              "identifier": "11",
                              "effect": "CLOSED",
                              "details": "Runway 11 closed for work in progress."
                            }
                          ],
                          "map_elements": [],
                          "schedules": [],
                          "schedule_description": null
                        }
                      },
                      "priority": "HIGH",
                      "explanation": "Runway 11 closure creates a primary operational impact.",
                      "considerations": [
                        "Runway 11 is closed nightly between 20:00 and 04:00",
                        "Aerodrome category / RUNWAY_OPERATIONS indicates critical impact on departures"
                      ]
                    }
                  ],
                  "total_count": 1,
                  "page": 1,
                  "per_page": 1
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/notams/raw": {
      "get": {
        "summary": "Get active NOTAMs without interpretations",
        "description": "Returns raw NOTAMs without AI interpretations. Same query parameters and response shape as /notams, but each NOTAM has interpretation set to null. The endpoint purpose is verifying query and raw data before AI interpretation.",
        "parameters": [
          {
            "description": "Classifications to exclude: DOM, FDC, INTL, MIL. When empty, no classifications are excluded.",
            "required": false,
            "deprecated": false,
            "schema": {
              "anyOf": [
                {
                  "items": {
                    "type": "string",
                    "enum": [
                      "DOM",
                      "FDC",
                      "INTL",
                      "MIL"
                    ]
                  },
                  "type": "array",
                  "minItems": 1
                },
                {
                  "type": "null"
                }
              ],
              "title": "Excluded Classifications",
              "description": "Classifications to exclude: DOM, FDC, INTL, MIL. When empty, no classifications are excluded."
            },
            "name": "excluded_classifications",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "description": "List of NOTAM IDs",
            "required": false,
            "deprecated": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "title": "Notam Ids",
              "description": "List of NOTAM IDs"
            },
            "name": "notam_ids",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "description": "Start date for the time period (YYYY-MM-DDTHH:MM:SSZ). When not provided, default to current UTC time.",
            "required": false,
            "deprecated": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Starts At",
              "description": "Start date for the time period (YYYY-MM-DDTHH:MM:SSZ). When not provided, default to current UTC time.",
              "examples": [
                "2024-01-01T00:00:00Z"
              ]
            },
            "name": "starts_at",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "description": "End date for the time period (YYYY-MM-DDTHH:MM:SSZ). When not provided, default to 365 days from starts_at.",
            "required": false,
            "deprecated": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Ends At",
              "description": "End date for the time period (YYYY-MM-DDTHH:MM:SSZ). When not provided, default to 365 days from starts_at.",
              "examples": [
                "2024-01-01T00:00:00Z"
              ]
            },
            "name": "ends_at",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "description": "Whether to always include EST times in the window, even if the notam already expired.",
            "required": false,
            "deprecated": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Always Include Est",
              "description": "Whether to always include EST times in the window, even if the notam already expired.",
              "default": true
            },
            "name": "always_include_est",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "description": "Page number to retrieve. Defaults to 1.",
            "required": false,
            "deprecated": false,
            "schema": {
              "type": "integer",
              "title": "Page",
              "description": "Page number to retrieve. Defaults to 1.",
              "default": 1
            },
            "name": "page",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "description": "Number of NOTAMs per page. Defaults to 30.",
            "required": false,
            "deprecated": false,
            "schema": {
              "type": "integer",
              "maximum": 30.0,
              "minimum": 1.0,
              "title": "Per Page",
              "description": "Number of NOTAMs per page. Defaults to 30.",
              "default": 30
            },
            "name": "per_page",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "description": "List of 4-character ICAO airport codes or 3-character domestic airport codes. Maximum 5 locations. Can be provided as location.",
            "required": false,
            "deprecated": false,
            "schema": {
              "items": {
                "type": "string",
                "maxLength": 4,
                "minLength": 3,
                "pattern": "^[A-Za-z0-9]{3,4}$"
              },
              "type": "array",
              "maxItems": 5,
              "minItems": 1,
              "title": "Location",
              "description": "List of 4-character ICAO airport codes or 3-character domestic airport codes. Maximum 5 locations. Can be provided as location.",
              "examples": [
                "KJFK",
                "KLAX",
                "KORD"
              ]
            },
            "name": "location",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "description": "Filter by Q-code(s) (e.g., QMRLC, QWULW). Returns only NOTAMs with matching Q-codes.",
            "required": false,
            "deprecated": false,
            "schema": {
              "anyOf": [
                {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Qcode",
              "description": "Filter by Q-code(s) (e.g., QMRLC, QWULW). Returns only NOTAMs with matching Q-codes."
            },
            "name": "qcode",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "description": "Filter by interpretation category(ies). Valid values: ALL, AERODROME, AIRSPACE, NAVIGATION, COMMUNICATION, OPERATIONS, OBSTACLES, ADMINISTRATIVE, WEATHER, SAFETY, OTHER. When 'ALL' is provided, no category filtering is applied. Note: Filtering happens after interpretation; total_count reflects pre-filter count and results may be fewer than per_page.",
            "required": false,
            "deprecated": false,
            "schema": {
              "anyOf": [
                {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Category",
              "description": "Filter by interpretation category(ies). Valid values: ALL, AERODROME, AIRSPACE, NAVIGATION, COMMUNICATION, OPERATIONS, OBSTACLES, ADMINISTRATIVE, WEATHER, SAFETY, OTHER. When 'ALL' is provided, no category filtering is applied. Note: Filtering happens after interpretation; total_count reflects pre-filter count and results may be fewer than per_page."
            },
            "name": "category",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "description": "Filter by interpretation subcategory(ies). Returns only NOTAMs with matching subcategories. Note: Filtering happens after interpretation; total_count reflects pre-filter count and results may be fewer than per_page.",
            "required": false,
            "deprecated": false,
            "schema": {
              "anyOf": [
                {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Subcategory",
              "description": "Filter by interpretation subcategory(ies). Returns only NOTAMs with matching subcategories. Note: Filtering happens after interpretation; total_count reflects pre-filter count and results may be fewer than per_page."
            },
            "name": "subcategory",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "description": "Filter by affected element effect and/or type. Format: 'effect:closed,type:runway' or 'closed runway' or 'closed' or 'runway'. Valid effects: CLOSED, RESTRICTED, HAZARD, UNSERVICEABLE, WORK_IN_PROGRESS, CAUTION. Valid types: AERODROME, RUNWAY, TAXIWAY, APPROACH, NAVAID, AIRSPACE, APRON, LIGHTING, SERVICE, PROCEDURE, OTHER. Note: Filtering happens after interpretation; total_count reflects pre-filter count and results may be fewer than per_page.",
            "required": false,
            "deprecated": false,
            "schema": {
              "anyOf": [
                {
                  "items": {
                    "$ref": "#/components/schemas/AffectedElementFilter"
                  },
                  "type": "array"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Affected Element",
              "description": "Filter by affected element effect and/or type. Format: 'effect:closed,type:runway' or 'closed runway' or 'closed' or 'runway'. Valid effects: CLOSED, RESTRICTED, HAZARD, UNSERVICEABLE, WORK_IN_PROGRESS, CAUTION. Valid types: AERODROME, RUNWAY, TAXIWAY, APPROACH, NAVAID, AIRSPACE, APRON, LIGHTING, SERVICE, PROCEDURE, OTHER. Note: Filtering happens after interpretation; total_count reflects pre-filter count and results may be fewer than per_page."
            },
            "name": "affected_element",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotamListResult"
                },
                "example": {
                  "notams": [
                    {
                      "id": "7e1b2056-301d-4723-a7e8-d0994fb7d6b6",
                      "notam_number": "A0681/25",
                      "location": "EPWA",
                      "icao_code": "EPWA",
                      "starts_at": "2025-04-04T18:00:00Z",
                      "ends_at": "2025-06-30T02:00:00Z",
                      "issued_at": "2025-03-19T12:37:00Z",
                      "is_estimated": false,
                      "is_permanent": false,
                      "message": "NAVIGATION WARNING...",
                      "icao_message": "A0681/25 NOTAMN...",
                      "qcode": "QWOLW",
                      "interpretation": null
                    }
                  ],
                  "total_count": 1,
                  "page": 1,
                  "per_page": 30
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/notams/briefing": {
      "post": {
        "summary": "Generate flight briefing",
        "description": "Generate a flight-focused NOTAM briefing asynchronously. Supports both structured flight briefings (with origin/destination/alternate types) and flexible location-based briefings.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateFlightBriefingRequest"
              },
              "examples": {
                "structured_flight": {
                  "summary": "Structured flight briefing",
                  "description": "Traditional flight briefing with origin, destination, and alternates",
                  "value": {
                    "locations": [
                      {
                        "location": "EPWA",
                        "type": "origin",
                        "starts_at": "2025-08-11T10:00:00Z",
                        "ends_at": "2025-08-11T16:00:00Z"
                      },
                      {
                        "location": "EGLL",
                        "type": "destination",
                        "starts_at": "2025-08-11T11:30:00Z",
                        "ends_at": "2025-08-11T18:00:00Z"
                      },
                      {
                        "location": "EPRZ",
                        "type": "alternate",
                        "starts_at": "2025-08-11T10:00:00Z",
                        "ends_at": "2025-08-11T20:00:00Z"
                      }
                    ],
                    "origin_runway": "RWY11",
                    "destination_runway": "RWY27L",
                    "destination_procedure": "ILS27L",
                    "aircraft_type": "B738"
                  }
                },
                "flexible_briefing": {
                  "summary": "Flexible location briefing",
                  "description": "Flexible briefing without structured flight roles",
                  "value": {
                    "locations": [
                      {
                        "location": "EPWA",
                        "starts_at": "2025-08-11T10:00:00Z",
                        "ends_at": "2025-08-11T16:00:00Z"
                      },
                      {
                        "location": "EGLL",
                        "starts_at": "2025-08-11T11:30:00Z",
                        "ends_at": "2025-08-11T18:00:00Z"
                      },
                      {
                        "location": "KZNY",
                        "type": "fir",
                        "starts_at": "2025-08-11T10:00:00Z",
                        "ends_at": "2025-08-11T20:00:00Z"
                      }
                    ],
                    "aircraft_type": "A320"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Briefing job created successfully",
            "headers": {
              "Location": {
                "description": "URL to check the briefing job status",
                "required": false,
                "deprecated": false,
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "uuid": {
                      "type": "string",
                      "description": "Unique identifier for the briefing job"
                    },
                    "status_url": {
                      "type": "string",
                      "description": "URL to check the briefing job status"
                    }
                  },
                  "type": "object"
                },
                "example": {
                  "uuid": "550e8400-e29b-41d4-a716-446655440000",
                  "status_url": "/api/v2/notams/briefing/550e8400-e29b-41d4-a716-446655440000"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/notams/briefing/simple": {
      "get": {
        "summary": "Generate simple airport briefing",
        "description": "Returns an immediate, airport-focused NOTAM briefing: a readable summary of active notices for the requested airports, plus the NOTAM identifiers referenced.",
        "parameters": [
          {
            "description": "Single ICAO airport code for the briefing. Multiple locations are not supported by this endpoint.",
            "required": true,
            "deprecated": false,
            "schema": {
              "type": "string",
              "maxLength": 4,
              "minLength": 3,
              "pattern": "^[A-Za-z0-9]{3,4}$",
              "title": "Location",
              "description": "Single ICAO airport code for the briefing. Multiple locations are not supported by this endpoint."
            },
            "name": "location",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
[...]
